## Tebex (server-side)
# Token used in: https://headless.tebex.io/api/accounts/{token}/...
TEBEX_WEBSTORE_TOKEN=

# HTTP Basic auth username/password for Tebex Headless API
TEBEX_PUBLIC_TOKEN=
TEBEX_PRIVATE_KEY=

## Site
# Used to build Tebex basket complete/cancel URLs
# Example: https://x-ampledevelopment.co.uk
SITE_URL=

